# This file is used to install the required packages for the project.
# It is recommended to use a virtual environment to avoid conflicts with other projects.
# These versions are tested and known to work together for GCP instances with cuda 12.4 and python 3.10.

torch==2.5.0
transformers==4.52.4
datasets==3.6.0

unsloth==2025.6.1

flash-attn==2.7.4.post1
xformers==0.0.28.post2
ninja
packaging
pandas
openpyxl
